<h1>Edit Pet</h1>
<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
<br>
    Name: <input type="text" name="pet_name" value="<%= @pet.name %>">
<br>
    Breed: <input type="text" name="pet_breed" value="<%= @pet.breed %>">
<br>
    Age: <input type="text" name="pet_age" value="<%= @pet.age %>">
<br>
<input type="submit" value="edit_pet">
<% end %>
