<h1>Take a look at our pets:</h1>
<% @pets.each do |pet| %>
<div>
    <a href= "http://localhost:3000/pets/<%=pet.id%>"> 
    <%= pet.name + " " + pet.breed + " " + pet.age.to_s %>
    <%= truncate(pet.bio, length: 100) %>
    </a>
</div>
<% end %>
<br>
<br>
<%= button_to 'New Pet', "/pets/new", method: :get %>