<h1>New Pet</h1>
<%= form_tag "/pets", method: :post do %>
<br>
  Name: <input type="text" name="pet_name">
<br>
  Breed: <input type="text" name="pet_breed">
<br>
  Age: <input type="text" name="pet_age">
<br>
  Bio: <input type="text" name="pet_bio">
<br>
<input type="submit" value="create_pet">
<% end %>

<%= button_to "Back to Pets", "/pets", method: :get %>
